/**
 * Codemirror JS Plugin
 *
 * @version 1.0.1
 * @link https://github.com/marijnh/CodeMirror2
 * @author Redaxo be_style plugin: rexdev.de
 * @package redaxo 4.3.x/4.4.x
 */

.CodeMirror {
  border-radius: 4px 4px 4px 4px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  background:white;
}
.CodeMirror pre {
  font-size: 12px;
  line-height: 12px;
}
.CodeMirror-fullscreen {
  z-index: 9999;
  font-family:Monospace !important;
  font-size:12px !important;
  position:fixed !important;
  display:block !important;
  float:none !important;
  top:2% !important;
  left:2% !important;
  width:95% !important;
  height:95% !important;
  z-index:9999 !important;
  border:1px solid silver !important;
  box-shadow: 5px 5px 40px 10px #000 !important;
  border-radius:6px !important;
  }
